.signupmodal__text{
    font-size: 12px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 200;
}

.signupmodal__input{
    width: 100%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 0px 5px;
    box-shadow: 5px 5px rgb(191, 198, 209);
}

.signupmodal__signin-button{
    border: none;
    background: none;
    font-size: 11px;
    margin: 0;
}

.signupmodal__signin-button:hover{
    text-decoration-line: underline;
}