.navigation{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 10px;
}

.navigation__link{
    list-style-type: none;
}

.navigation__button{
    width: 120px;
    height: 30px;
    cursor: pointer;
    box-shadow: 5px 5px rgb(191, 198, 209);
    border: 1px solid grey;
    border-radius: 3px;
}

.navigation__button:hover{
    background-color: rgb(176, 196, 227);
}

@media (max-width: 476px){
    .navigation__button{
        width: 68px;
    }
}