.answer__revealed{
    display: flex;
    padding: 10px;
    gap: 5px;
    width: auto;
    opacity: 100%;
}

.answer__hidden{
    background-color: rgb(166,166,166);
    border: 1px solid grey;
    box-sizing: border-box;
    height: 62px;
    width: 50%;
    margin: 5px 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px rgb(191, 198, 209);
}