.rules{
    width: 100%;
    height: auto;
    background-color: rgb(218, 226, 229);
    box-shadow: 10px 10px rgb(132, 147, 208);
    border-radius: 5px;
    padding: 10px 10px;
}

.rules__text{
    font-size: 15px;
}

.rules__title{
    text-align: center;
}

.rules__hint-example-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.rules__hint-example{
    display: flex;
    align-items: center;
    gap: 2px;
}

@media (max-width: 430px){
    .rules__text{
        font-size: 12px;
    }
}

@media (max-width: 350px){
    .rules__text{
        max-width: 233px;
    }
}

